
.navbar{
    margin-bottom: 0 !important;
}

.navbar-default{
    background-color: #41DCD3 !important;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padre {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.hijo {
    width: 430px;
    height: 100%;
}

.text-creado {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 200;
    font: 3.5rem Georgia, Serif;

}

.text-usuario {
    color: #0075b0;
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
    font: italic bold 30px Georgia, Serif;

}

.titulo {
    color: #416CDC;
    font-size: 6rem;
    background-color: #41DCD3;
    margin-top: 0;
    padding: 20px;
}

.asistencia-container {
    background-color: #41DCD3;
    padding: 40px;
    
}

.asistencia-boton{
    background-color: #416CDC;
    color: white;
    border-radius: 15px;
    font-size: 1.2rem;
}

.asistencia-boton:hover{
        background-color: white;
    }

.img-login{
        width:100%;
        height: 100%;
    }
    
.img-doctor{
    height: 300px;    
}

.img-form{
    opacity: 0.4;
}



@media (max-width: 690px){
    .padre{
        flex-direction:column;
    }
}

@media (min-width: 768px){
    .col-sm-12 {
        width: 100%;
        
    }
}
    

@media (max-width: 790px){

    .img-form{
        display: none;
    }
    
}